{% block about %}
<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="section-title">Mirnes Nuhanovic</h1>
    <h3 class="section-sub text-center">Software Developer</h3>
    
    <p id="places">
      <a class="nav-link place" href="https://en.wikipedia.org/wiki/Biha%C4%87" target="_blank">Bihać, Bosnia 🇧🇦</a> ➔ 
      <a class="nav-link place" href="https://en.wikipedia.org/wiki/Pag_(island)" target="_blank">Pag Island, Croatia 🇭🇷</a> ➔ 
      <a class="nav-link place" href="https://en.wikipedia.org/wiki/Augsburg" target="_blank">Augsburg, Germany 🇩🇪</a>
    </p>

    <div class="cards">
        <p id="tech-talents-section"></p>
        <br>
        <div id="tech-talents" class="card">
            <p class="card-title">Tech & Talents <i class="fas fa-laptop-code icon"></i></p>
            <p class="card-text">
                Balancing roles as a waiter and receptionist, I've sharpened my communication skills and embraced self-learning. 
                These experiences have taught me to handle multiple responsibilities efficiently, adapt to various work environments, and maintain a customer-centric approach.
                My coding journey involves mastering <strong class="text-warning">HTML, CSS, JavaScript</strong>, and expanding my <strong class="text-warning">Python</strong> 
                expertise using the <strong class="text-warning">Django framework</strong>. I also have some experience in <strong class="text-warning">React</strong> and <strong class="text-warning">jQuery</strong>.
                In addition to my technical skills, I have cultivated a problem-solving mindset and a passion for continuous learning.
                Apart from <strong class="text-warning">freeCodeCamp</strong> online courses and a year in Vocational School for Software Development in Germany, 
                I worked as a Software Developer where I tackled new challenges daily and had the chance to continuously develop my programming skills 
                with interesting projects.
                This blend of technical and soft skills positions me well for tackling complex challenges and contributing effectively to any team.
            </p>
        </div>
        <p id="career-vision-section"></p>
        <br>
        <div id="career-vision" class="card">
            <p class="card-title">Career Vision <i class="fas fa-award icon"></i></p>
            <p class="card-text">
                My dream is to merge my coding skills with my love for exploration, crafting innovative solutions,
                and collaborating on projects that transcend borders. As a software developer, I aspire to connect with diverse minds and contribute to meaningful projects that shape the
                future. I envision working in dynamic environments where technology meets creativity, driving progress in fields such as artificial intelligence,
                sustainable development, and digital transformation. My goal is to develop applications and systems that not only solve problems but also 
                improve lives and foster global connectivity.
            </p>
        </div>
        <p id="language-journey-section"></p>
        <br>
        <div id="language-journey" class="card">
            <p class="card-title">Language Journey <i class="fas fa-book icon"></i></p>
            <p class="card-text">
                Throughout my education, I dedicated myself to improving my <strong class="text-warning">English</strong> fluency,
                which blossomed through daily interactions with guests during my time as a receptionist and a waiter.
                Now, residing in Germany, I am actively enhancing my <strong class="text-warning">German</strong> language skills,
                embracing daily communication as a pathway to continuous self-improvement.
                This linguistic journey has not only expanded my communication abilities but also deepened my understanding of different cultures and perspectives.
            </p>
        </div>
    </div>
</div>
{% endblock about %}
