{% block footer %}
 <!-- Footer -->
 <footer>

   
    <h2 id="coffe"> Connect on social media? <i class="fas fa-coffee coffeIcon"></i></h2>
    <div class="footer">
      <div class="social-icons">
        <a href="https://www.instagram.com/an_unprovable_creature/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/nuhanovski" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="www.linkedin.com/in/mirnes-nuhanovic" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Mirnes420/" target="_blank"><i class="fab fa-github"></i></a>
      </div>
     
     
    </div>
  </footer>
{% endblock footer %}