
<p id="projects-section"></p>
<br>
<!--projects section-->
<div id="projects" class="container" data-aos="fade-up" data-aos-duration="1000">
  <h1 id="welcome" class="section-title">Projects</h1>
  <hr>
  <br>
 <!--chatbot section-->
<div class="project">
    {% include 'sub/chatbot.html' %} 
    <div class="col-12 col-md-6">
    <div id="description" class="description">
      <h2>Live chatbot</h2>
      <p>This chatbot project leverages Wit.ai for natural language processing, enabling it to understand and respond to user queries effectively. It was developed using a combination of Python and JavaScript. The backend, built with Python and it's requests, handles user input and sends API requests to Wit.ai to interpret the text. The frontend, created with HTML and JavaScript, provides an interactive interface for users. Key skills required for this project included knowledge of API integration, web development, and natural language processing. With enough training, the chatbot can engage in meaningful conversations, providing users with an intuitive and helpful experience.</p>
    </div>
    </div>
  </div>
  <br>
 <!--quiz section-->

 <div class="project">
  <div class="col-12 col-md-6">
    <div id="description" class="description">
      <h2>Trivia Quiz</h2>
      <p>Trivia Quiz Project utilizes HTML, CSS, and JavaScript to fetch a series of true/false questions from the Open Trivia Database API and present them sequentially to users. JavaScript handles fetching data asynchronously, manipulating the DOM to display questions, and providing immediate feedback on user responses. The project's frontend, composed of HTML for structure and CSS for styling, ensures a user-friendly interface with responsive design elements. Essential skills for this project include API integration, asynchronous programming, DOM manipulation, and frontend development techniques. Through these components, the quiz application delivers an interactive experience where users can test their knowledge and track their performance in real-time.</p>
    </div>
    </div>
  {% include 'sub/quiz.html' %} 

    </div>

    </div>
    </div>

    </div>